body {
  margin: 0;
  padding: 0;
  background: white;
  background-size: cover;
  }
.box {
  width: 450px;
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: black;
  font-family: 'Roboto', sans-serif;
  }
.box-img {
  border-radius: 50%;
  height: 200px;
  }
.box h1 {
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    }
 .box h3 {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 100;
   font-family: 'Roboto', sans-serif;
    }
 .box p {
    font-family: 'Roboto', sans-serif;
    }
