body {
  margin: 0;
  padding: 0;
  background: white;
  background-size: cover;
  }
.box {
  width: auto;
  padding: 100px;
  text-align: center;
  margin: auto;
  margin-top: 150px;
  color: black;
  font-family: 'Roboto', sans-serif;
  }
.box-img {
  border-radius: 50%;
  height: 200px;
  }
.box h1 {
    font-size: 30px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    }
 .box h3 {
    font-size: 15px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    }
 .box p {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    }
